<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="aoai_modelId" value="gpt-4o"/>
		<add key="aoai_endpoint" value="https://<your-azure-open-ai-resource-name>.openai.azure.com/"/>
		<add key="aoai_apiKey" value="<your-azure-open-ai-key>"/>
		<add key="aisearch_apiKey" value="<your-ai-search-key>"/>
		<add key="aisearch_endpoint" value="https://<your-ai-search-resource-name>.search.windows.net"/>
	</appSettings>
</configuration>

